{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock  %}


{% block main-content %}

<div class="container mt-3">
    <br>
    <div class="text-center"><h2>About Us</h2>
        <br>
        <div class="row container">
        <p class="sm-4 text-center">Welcome to our dairy product startup! We are passionate about providing high-quality, delicious, 
            and wholesome dairy products to our valued customers. Our journey began with a vision to create a brand that prioritizes freshness,
             sustainability, and the well-being of both consumers and the environment. We take pride in sourcing milk from local, trusted dairy
              farms that prioritize ethical and sustainable practices.

            At our dairy product startup, we are committed to delivering products that are not only nutritious but also pure and free from
             artificial additives. Our team of dedicated experts ensures that every product meets stringent quality standards and undergoes
              thorough testing to guarantee freshness, flavor, and consistency</div>
               <br><br>
              <div class="text-center"><h2>Our Mission</h2>
                <br>
                <div class="row container">
                <p class="sm-4 text-center">Our mission is to bring the goodness of farm-fresh dairy products directly to your doorstep.
                     We strive to provide our customers with a wide range of dairy delights that are made with love, care, and the highest quality
                      ingredients. We are committed to supporting local farmers and promoting sustainable agriculture practices.

                    Through our website, we aim to offer a convenient and seamless shopping experience, making it easy for our customers
                     to access and enjoy our dairy products. We prioritize customer satisfaction and take pride in building long-lasting
                      relationships with our valued patrons.
                    
                    As a dairy product startup, we are dedicated to continuously improving and innovating. We embrace customer feedback
                     and are always exploring new flavors, packaging solutions, and eco-friendly initiatives to reduce our environmental footprint.
                      Our goal is to not only provide exceptional dairy products but also contribute positively to the communities we serve.</div>

        </div>

        <br> <br>


{% endblock main-content %}