{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock  %}


{% block main-content %}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1600x400/?business" class="d-block w-80" alt="...">
        <div class="container mt-10">
            <br>
            <div class="text-center"><h2>ContactUs</h2>
                <br>
                <div class="row container">
                <p class="sm-4 text-center">
                    <p class="fs-4 text-center">Adress: xyz </p>
                    <p class="fs-4 text-center">Contact: xyz </p>
                    <p class="fs-4 text-center">Email: xyz </p>
        
                </div>
                       <br><br>
      </div>
      <br><br>



{% endblock main-content %}